# Create a .env file with the following:
# Replace [YOUR_PLEX_IP] with your plex server's IP address
# Replace [YOUR_PLEX_TOKEN_HERE] with ...your plex token
# Replace [YOUR_TMDB_API_KEY_HERE] with your TMDB API key

PLEX_URL="http://[YOUR_PLEX_IP]:32400"
PLEX_TOKEN="[YOUR_PLEX_TOKEN_HERE]"
TMDB_API_KEY="[YOUR_TMDB_API_KEY_HERE]"